header {
    position: relative;
}

main img {
    max-height: 100%;
    max-width: 100%;
    opacity: 0.6;
}

main {
    margin: 120px;
    margin-top: 200px;
    display: grid;
    grid-gap:10px;
    grid-template-columns: auto auto auto;
}

main img:hover {
    opacity: 1;
    cursor: zoom-in;
}

:target {
    grid-area: span 2 / span 3;
}

:target img {
    opacity: 1;
}

:target img:hover {
    cursor: default;
}

@media screen and (max-width: 700px) {
    main {
        margin: 20px;
    }
}
    